*{
    margin: 0;
}
.right{
    background-color: crimson;
}
.left{
    background-color: darkgoldenrod;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 50px 20px 50px 60px;
    color: darkgray;
}
.img,h1,p {
    margin-bottom: 40px;
}
button{
    padding: 20px;
    width: 200px;
    outline: none;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}
.banner{
    height: 100vh;
    background-color: chocolate;

    display: flex;
    justify-content: space-between;
}
